/* Universal Styles */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
html {
  font-size: 18px;
}

html,
body {
  margin: 0;
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }
}

input:focus {
  outline: none;
}

/* App Styles */

.App {
  font-family: "Work Sans", sans-serif;
}

.App h1 {
  padding: 0.66rem 0;
  text-align: center;
  background-color: #427340;
  font-family: 'DM Serif Display', serif;
  font-size: 1.8rem;
  color: #D4D3C1;
  margin: 0;
}
